@import url('./core/styles/button.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IM_Hyemin-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  @media screen and (max-width: 320px) {
    font-size: 14px;
  }
}

* {
  font-family: 'IM_Hyemin-Regular';
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100%;
}

.app-container {
  @apply absolute inset-0 m-auto h-full w-full max-w-md;
  @media screen and (min-width: 1024px) {
    right: 40%;
    height: 90%;
    border-radius: 2rem;
    border: 0.5rem solid white;
    overflow: hidden;
    box-sizing: content-box;
    max-width: 24rem;
    box-shadow:
      0px 10px 10px -5px rgba(0, 0, 0, 0.04),
      0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  }
}

.app-info {
  @apply absolute m-auto w-[30%] h-full right-[16%] overflow-hidden;
  @media screen and (max-width: 1023px) {
    display: none;
  }
}
