@import url('./core/styles/button.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IM_Hyemin-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  @media screen and (max-width: 320px) {
    font-size: 14px;
  }
}

* {
  font-family: 'IM_Hyemin-Regular';
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
}

.app-container {
  @apply absolute inset-x-0 m-auto h-full w-full max-w-md;
}
